{% extends 'mailings/base.html' %}
{% block title %}Активные Рассылки{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Активные Рассылки</h2>
    <ul class="list-group mt-3">
        {% for mailing in mailings %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ mailing.name }}
            <div>
                <a href="{% url 'mailings:mailing_detail' mailing.pk %}" class="btn btn-info btn-sm">Просмотреть</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
