{% extends 'mailings/base.html' %}
{% block title %}Mailing Detail{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Mailing Detail: {{ mailing.name }}</h2>
    <p><strong>Start Date Time:</strong> {{ mailing.start_date_time }}</p>
    <p><strong>Periodicity:</strong> {{ mailing.get_periodicity_display }}</p>
    <p><strong>Status:</strong> {{ mailing.get_status_display }}</p>
    <p><strong>Message:</strong> {{ message_body }}</p>
    <p><strong>Clients:</strong> 
        {% for client in mailing.clients.all %}
            {{ client.name }} {{ client.surname }} ({{ client.email }}){% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <a href="{% url 'mailings:mailing_list' %}" class="btn btn-primary">Back to Mailings</a>
</div>
{% endblock %}
