{% extends 'mailings/base.html' %}
{% block title %}Mailing Attempts{% endblock %}

{% block content %}
    <h2>Mailing Attempts</h2>
    <a href="{% url 'mailings:home' %}" class="btn btn-outline-secondary">Home</a>
    <ul class="list-group mt-3">
        {% for attempt in mailing_attempts %}
        <li class="list-group-item">
            <strong>Attempt for mailing "{{ attempt.mailing.name }}"</strong> at {{ attempt.attempt_date_time }} - Status: {{ attempt.status }}
            <br>Server Response: {{ attempt.server_response }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
